.App {
  text-align: center;
}

body {
  background-image: url("https://i.imgur.com/F6C99Mw.png");
  background-size: cover;
  color: white;
  text-decoration: none;
  height: 100vh;
}

/* HEADER */

.header {
  background-color: rgb(3, 20, 33, .8);
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
}

.homeLink {
  color: white;
  text-decoration: none;
  padding:0 10px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
}
